In [1]:
import pandas as pd
import numpy as np
from tqdm.auto import tqdm 
import ScraperFC as sfc

In [ ]:
fbref_scraper = sfc.FBref()
df_pl_games_dl = fbref_scraper.scrape_matches('2024-2025', 'EPL')
df_pl_games_dl.to_pickle('../data/epl_2024_2025.pkl')

2024-2025 EPL matches: 100%|██████████| 106/106 [14:48<00:00,  8.39s/it]

In [107]:
df_pl_games_dl.head(5)

,Link,Date,Stage,Home Team,Away Team,Home Team ID,Away Team ID,Home Goals,Away Goals,Home Player Stats,Away Player Stats,Shots
0,https://fbref.com/en/matches/cc5b4244/Manchest...,"Friday August 16, 2024",Premier League (Matchweek 1),Manchester United,Fulham,19538871,fd962109,1,0,Summary Unnamed: 0_level_0 Unname...,Summary Unnamed: 0_level_0 Unnamed...,Both Unnamed: 0_level_0 Unnamed: 1_leve...
1,https://fbref.com/en/matches/292d8bc4/Leiceste...,"Friday October 25, 2024",Premier League (Matchweek 9),Leicester City,Nottingham Forest,a2d435b3,e4a775cb,1,3,Summary Unnamed: 0_level_0 Unn...,Summary Unnamed: 0_level_0 Unname...,Both Unnamed: 0_level_0 Unnamed: 1_l...
2,https://fbref.com/en/matches/62eea1d6/Leiceste...,"Monday August 19, 2024",Premier League (Matchweek 1),Leicester City,Tottenham Hotspur,a2d435b3,361ca564,1,1,Summary Unnamed: 0_level_0...,Summary Unnamed: 0_level_0 Unnamed...,Both Unnamed: 0_level_0 Unnamed: 1_level...
3,https://fbref.com/en/matches/e1590847/Fulham-B...,"Monday November 4, 2024",Premier League (Matchweek 10),Fulham,Brentford,fd962109,cd051869,2,1,Summary Unnamed: 0_level_0 Unnamed...,Summary Unnamed: 0_level_0 Unname...,Both Unnamed: 0_level_0 Unnamed: 1_leve...
4,https://fbref.com/en/matches/5ed3894e/Nottingh...,"Monday October 21, 2024",Premier League (Matchweek 8),Nottingham Forest,Crystal Palace,e4a775cb,47c64c55,1,0,Summary Unnamed: 0_level_0 Unname...,Summary Unnamed: 0_level_0 Unna...,Both Unnamed: 0_level_0 Unnamed: 1_le...

In [116]:
fb = sfc.FBref()
#df_pl_game = fb.scrape_match('https://fbref.com/en/matches/67ed3ba2/Brentford-Tottenham-Hotspur-August-13-2023-Premier-League')
df_pl_games = pd.read_pickle('../data/epl_2024_2025.pkl')
df_pl_game = df_pl_games[df_pl_games['Link'].str.contains('67a0c715')]

home_players_stats = df_pl_game['Home Player Stats'].apply(pd.Series)
away_players_stats = df_pl_game['Away Player Stats'].apply(pd.Series)
away_players_stats = df_pl_game['Shots'].apply(pd.Series)


home_players_summary = home_players_stats['Summary'].values[0].apply(pd.Series)
home_players_summary.columns = [col[1].strip().lower() if 'Unnamed' in col[0] else '_'.join(col).strip().lower() for col in home_players_summary.columns.values]
home_players_summary

,player,#,nation,pos,age,min,performance_gls,performance_ast,performance_pk,performance_pkatt,...,sca_sca,sca_gca,passes_cmp,passes_att,passes_cmp%,passes_prgp,carries_carries,carries_prgc,take-ons_att,take-ons_succ
0,Nicolas Jackson,15.0,sn SEN,FW,23-059,66,0,0,0,0,...,3,0,11,16,68.8,2,10,0,0,0
1,Marc Guiu,38.0,es ESP,FW,18-227,24,0,0,0,0,...,0,0,3,4,75.0,0,2,0,1,0
2,Christopher Nkunku,18.0,fr FRA,LW,26-278,57,0,0,0,0,...,2,0,26,26,100.0,2,24,2,3,0
3,Pedro Neto,19.0,pt POR,LW,24-162,33,0,0,0,0,...,2,0,17,19,89.5,0,20,3,2,1
4,Cole Palmer,20.0,eng ENG,RW,22-104,90,0,0,0,0,...,5,0,37,47,78.7,6,41,6,3,1
5,Enzo Fernández,8.0,ar ARG,"AM,DM",23-214,90,0,0,0,0,...,3,0,47,56,83.9,4,44,0,0,0
6,Roméo Lavia,45.0,be BEL,DM,20-225,66,0,0,0,0,...,1,0,38,39,97.4,2,26,0,0,0
7,Kiernan Dewsbury-Hall,22.0,eng ENG,AM,25-347,24,0,0,0,0,...,0,0,13,17,76.5,0,13,1,0,0
8,Moisés Caicedo,25.0,ec ECU,DM,22-290,90,0,0,0,0,...,1,0,47,53,88.7,3,34,0,1,1
9,Marc Cucurella,3.0,es ESP,LB,26-027,79,0,0,0,0,...,1,0,58,68,85.3,3,30,1,0,0
10,Renato Veiga,40.0,pt POR,LB,21-020,11,0,0,0,0,...,0,0,8,9,88.9,0,4,1,0,0
11,Levi Colwill,6.0,eng ENG,CB,21-174,90,0,0,0,0,...,1,0,47,48,97.9,2,33,0,0,0
12,Wesley Fofana,29.0,fr FRA,CB,23-245,90,0,0,0,0,...,0,0,49,56,87.5,1,49,0,0,0
13,Malo Gusto,27.0,fr FRA,RB,21-091,90,0,0,0,0,...,1,0,36,44,81.8,1,23,2,1,1
14,Robert Sánchez,1.0,es ESP,GK,26-274,90,0,0,0,0,...,0,0,24,29,82.8,0,17,0,0,0
15,15 Players,NaN,NaN,NaN,NaN,990,0,0,0,0,...,20,0,461,531,86.8,26,370,16,11,4

In [144]:
df_pl_games = pd.read_pickle('../data/epl_2024_2025.pkl')

def get_teams_series(df_games: pd.DataFrame) -> pd.DataFrame:

       df_games['league'] = df_games['Stage'].apply(lambda x: x.split('(')[0])
       df_games['matchweek'] = df_games['Stage'].apply(lambda x: int(x.split('(')[1].split(' ')[1].replace(')', '')))
       df_games.drop(columns=['Stage'], inplace=True)

       df_games.columns = df_games.columns.str.strip().str.lower().str.replace(' ', '_')

       df_melted = df_games.melt(id_vars=['home_team_id', 'away_team_id', 'home_goals', 'away_goals', 'league', 'matchweek'], value_vars=['home_team', 'away_team'],
                     var_name='location', value_name='team')
       df_melted['team_id'] = df_melted.apply(lambda x: x['home_team_id'] if x['location'] == 'home_team' else x['away_team_id'], axis=1)
       df_melted.drop(columns=['home_team_id', 'away_team_id'], inplace=True)

       df_grouped = df_melted.groupby('team').apply(lambda x: x.reset_index(drop=True)).reset_index(drop=True)
       df_grouped.sort_values(by=['team_id', 'team', 'matchweek'], inplace=True)

       df_grouped['result'] = ['W' if (x > y and l == 'home_team') or 
                                   (x < y and l == 'away_team') else
                            'D' if x == y else 
                            'L' for x, y, l in zip(df_grouped['home_goals'], df_grouped['away_goals'], df_grouped['location'])]

       df_clubs_series = df_grouped.groupby(['team_id', 'team']).agg({'result': lambda x: ''.join(x)}).reset_index()
       return df_clubs_series

df_teams = get_teams_series(df_pl_games)
df_teams

/var/folders/x9/t16jfwq91z735wm10ntxvh780000gq/T/ipykernel_886/3774642716.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_grouped = df_melted.groupby('team').apply(lambda x: x.reset_index(drop=True)).reset_index(drop=True)

     team_id                     team       result
0   18bb7c10                  Arsenal   WWDWDWWLDL
1   19538871        Manchester United   WLLWDLDWLD
2   33c895d4              Southampton  LLLLDLLLLWL
3   361ca564        Tottenham Hotspur   DWLLWWLWLW
4   47c64c55           Crystal Palace  LLDDDLLLWDL
5   4ba7cbea              Bournemouth  DDWLLWLWDWL
6   7c21e445          West Ham United  LWLDLDWLWLD
7   822bd0ba                Liverpool  WWWLWWWWDWW
8   8602292d              Aston Villa  WLWWWDDWDLL
9   8cec06e1  Wolverhampton Wanderers  LLDLLLLLDDW
10  a2d435b3           Leicester City   DLLDDLWWLD
11  b2b47a98         Newcastle United   WDWWLDDLLW
12  b74092de             Ipswich Town   LLDDDDLLLD
13  b8fd03ef          Manchester City  WWWWDDWWWLL
14  cd051869                Brentford  WLWLLDWLWLW
15  cff3d9bb                  Chelsea   LWDWWWDLWD
16  d07537b9   Brighton & Hove Albion  WWDDDLWWDLW
17  d3fd31cc                  Everton  LLLLDWDWDLD
18  e4a775cb        Nottingham Forest   DWDWDLDWWW
19  fd962109                   Fulham  LWDDWWLLDWW